.header__logo {
    height: 50px;
}

.header__botton {
    background: #00ffff;
}

.header__nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header__nav-item {
    color: #000000;
    text-decoration: none;
    font-size: 22px;
    padding: 10px 5px;
    display: block;
    border-radius: 7px;
}

.header__nav-item:hover {
    background: #00dddd;
}

.conteiner {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
}

.body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

.heder__title {
    font-size: 17px;
    color: #30445c;
    font-weight: 700;
    width: fit-content;
    margin-left: 20px;
}

.header__top {
    display: flex;
    padding-block: 15px;
}

.main__card {
    padding: 50px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.content-half {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gallery {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card__img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.gallery__card {
    border-radius: 20px;
    padding: 10px;
    scale: 0.95;
    transition: all 0.3s;

    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.gallery__card:hover {
    scale: 1.05;
    transition: all 0.25s;
}

.card__btn {
    display: block;
    text-align: center;
    background: #30445c;
    color: #fff;
    font-size: 22px;
    margin-top: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
    letter-spacing: 1px;
}

.footer {
    background: #ebebeb;
    padding-block: 50px;
}

table {
    border: 1px solid orange;
    border-radius: 5px;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid orange;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.2);
}

tr:nth-child(odd) {
    background-color: rgba(255, 0, 0, 0.2);
}

.form__item label {
    text-transform: uppercase;
    color: rgba(128, 128, 128, 0.8);
    font-weight: 600;
    display: grid;
}

.form__item input {
    font-size: 22px;
    border: none;
    border-bottom: 3px solid #7c48a1;
    padding: 7px 0;
}

/* .form__item input:focus-visible {
    border-top: none;
    border-left: none;
    border-right: none;
} */

.form {
    display: grid;
    gap: 30px;
}

.form__item input::placeholder {
    color: rgba(128, 128, 128, 0.15);
    font-size: 18px;
}


.checkbox__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox__item input[type="checkbox"] {
    appearance: none;
    width: 22px;
    height: 22px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
}

.checkbox__item input[type="checkbox"]:checked::after {
    content: "☺";
    color: #7c48a1;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    font-size: 21px;
    line-height: 17px;
    box-sizing: border-box;
}

.checkbox__item span {
    font-size: 16px;
    line-height: 1.5;
}

.radio__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.radio__item input[type="radio"] {
    appearance: none;
    width: 22px;
    height: 22px;
    border: 2px solid #ccc;
    border-radius: 100px;
    margin-right: 10px;
    position: relative;
}

.radio__item input[type="radio"]:checked::after {
    content: "☺";
    color: #7c48a1;
    position: absolute;
    top: -1px;
    left: -2px;
    border-radius: 50%;
    font-size: 21px;
    line-height: 17px;
    box-sizing: border-box;
}

.radio__item span {
    font-size: 16px;
    line-height: 1.5;
}